body {
  margin: 0;
  padding: 0;
}

.p-fixed {
  position: fixed;
}

.trbl-zero {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.d-flex {
  display: flex;
}

.fd-row {
  flex-direction: row;
}

.fd-column {
  flex-direction: column;
}

.debug {
  box-shadow: inset 0 0 1px 1px rgba(255, 0, 255, 1),
    0 0 1px 1px rgba(255, 0, 255, 1);
}
