.lh-0 {
  line-height: 0;
}

.pe-none {
  pointer-events: none;
}
.pe-all {
  pointer-events: all;
}

/* Todoist Interface Styles */

.fg-gray{
  color: gray;
}

.fg-inherit{
  color: inherit;
}

.fw-bold{
  font-weight: bold;
}

.fz-large{
  font-size: large;
}

.df-row{
  display: flex;
  flex-direction: row;
}

.df-col{
  display: flex;
  flex-direction: column;
}

.items-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.w-100{
  width: 100%;
}

.w600{
  width: 600px;
}

.mlr-auto{
  margin-left: auto;
  margin-right: auto;
}
